    html {

      height: 100%;

    }
    .container {
	  width: 100%;
      background: radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      box-sizing: border-box;
      transform: scale(1.6);
      animation: xiao 2s ease-in-out 4s forwards;
      z-index: -1;
    }
    @keyframes xiao{
    	0%{
    		transform: scale(1.6);
    	}
    	100%{
    		transform: scale(1);
    	}
    }
    a {
      text-decoration: none;
    }
    h1, h2 {
      width: 100%;
      float: left;
    }
    h1 {
      margin-top: 100px;
      color: #1D3185;
      text-shadow: 0 1px 5px rgba(0,0,0,0.5);
      margin-bottom: 5px;
      font-size: 70px;
      letter-spacing: -4px;
    }
    h2 {
      color: #3C487A;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
    }  
/*雪景*/
    .pointer {
      position: fixed;
      bottom: 10px;
      left: 50%;
      margin-left: -245px;
      color: #2744BE;
      font-family: 'Open Sans', cursive;
      font-weight: 400;
      font-style: italic;
      font-size: 14px;
      margin-top: 15px;
    }
    pre {
      margin: 80px auto;
    }
    pre code {
      padding: 35px;
      border-radius: 5px;
      font-size: 15px;
      background: rgba(0,0,0,0.1);
      border: rgba(0,0,0,0.05) 5px solid;
      max-width: 500px;
    }
    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    .main h1 {
      padding:20px 50px;
      float: left;
      width: 100%;
      font-size: 60px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: 100;
      margin: 0;
      padding-top: 25px;
      font-family: 'Pacifico';
      letter-spacing: 2px;
    }
    .main h1.demo1 {
      background: #1ABC9C;
    }
    .reload.bell {
      font-size: 12px;
      padding: 20px;
      width: 45px;
      text-align: center;
      height: 47px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
    }
    .reload.bell #notification {
      font-size: 25px;
      line-height: 140%;
    }
    .reload:hover{
      background: #A2261E;
    }

    .clear {
      width: auto;
    }
    .credit {
      font-style: italic;
      text-align: center;
      color: #1D3185;
      padding: 10px;
      margin: 0 0 40px 0;
      float: left;
      width: 100%;
    }
    .pointer a {
      color: #2744BE;
      text-decoration: none;
      font-weight: bold;
    }
    .credit a {
      color: #2744BE;
      text-decoration: none;
      font-weight: bold;
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 7px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: rgba(0, 0, 0, 0.35);
      font-weight: bold;
      font-size: 13px;
      color: #2744BE;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
    }
    .back:hover {
      background: rgba(0, 0, 0, 0.85);
    }
    canvas {
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
    }
    .header {
      position: relative;
    }
    canvas.flare {
      opacity: 0.5;
    }
 
/*圣诞老人*/
.wrap .go{
		width: 380px;
		height: 690px;
		border-radius: 50%;
		text-align: center;
		line-height: 100px;
		font-size: 20px;
		position: absolute;
		top: 40px;
		left: -260px;
	}
	@keyframes gos{
		from{
			transform: translateX(0);
		}
		to{
			transform: translateX(366px);
		}
	}
	@keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(.1,.1,.1) translate3d(900px,-1800px,0);
      
    }

    80% {
        opacity: 1;
        transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
   

}
